.navbar {
    background-color: hsl(180, 50%, 70%);
  }
  
  .navbar .nav-link {
    color: hsl(240, 50%, 30%);
  }
  

#blog {
    background-color: hsl(180, 50%, 70%);
}

#home {
    background-color: hsl(240, 50%, 30%);
}

h1 {
    padding: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
img {
  height: 300px;
}