.navbar {
    background-color: cyan;
  }
  
  .navbar .nav-link {
    color: navy;
  }
  

#blog {
    background-color: cyan;
}

#home {
    background-color: navy;
}

h1 {
    padding: 10px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
img {
  height: 300px;
}